*{
  margin: 0;
  padding: 0;
}
.head {
  background: #e6e6e6;
  opacity: 0.9;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
}
.head img {
  width: 40%;
}
.logo {
    width: 60%;
}
.location {
  display: flex;
  margin: auto;
  margin-right: 10px;
}
#demo input[type="text"] {
    border: none;
    border-radius: 20px;
    padding: 2px 3px;
    width: 40%;
}
#demo input[type="submit"] {
    border:none;
    border-radius: 2px;
    padding: 2px 3px;
}
#demo {
    background: #262626;
    opacity: 0.8;
    justify-content: space-between;
    padding: 5px 10px;
}
#demo .material-icons {
    float: right;
    color: #f2f2f2;
}
.material-icons{
  cursor:pointer;
}
body{
  background: url(background_img/background3.jpg);
  background-size: contain;
  background-blend-mode: luminosity;
}

/*navbar*/
.dropbtn {
  background-color: #FFCC33;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  height: 84px;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #F4511E;}
/*end*/

.nav-field{
  background: #262626;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
}
.nav-items{
  padding: 10px 20px;
}
.nav-items p{
    color: white;
    display: none;
    margin: 0
}
.nav-items .material-icons {
    color: white;
}
.nav-items:hover{
  background: #d9d9d9;
  color: #262626;
}
.nav-items a:hover{
  text-decoration: none;
  color: #262626;
}
.nav-items p:hover{
  text-decoration: none;
  color: #262626;
}
.nav-items .material-icons:hover {
    color: #262626;
}

.containers {
    padding: 10px 10px;
    background: #D9D9D9;
}
form.box{
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}
form.box input[type="submit"]{
  height: 10%;
  background: #ffcc33;
  color: #fff;
  border-radius: 50px;
  border: none;
  box-shadow: 0 3px 0 0 #ff9933;
	font-size: 22px;
  padding: 0px 10px;
  margin-bottom: 10px;
}
form.box input[type="submit"]:hover{
  background: #ff9933;
  box-shadow: 0 3px 0 0 #ffcc33;
}

/* Input field sections */
.box{
    margin: auto;
    background: white;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
    width: 80%;
    margin-top: 25px;
}
.box h3{
    color: black;
    font-weight: 500;
    font-size: xx-large;
}
.box textarea, .box input[type= "text"], .box input[type= "number"],.box input[type= "file"]{
    background: #f2f2f2;
    display: block;
    margin: 9px auto;
    text-align: left;
    border: none;
    padding: 10px 10px;
    width: 80%;
    outline: none;
    border-radius: 12px;
}
.box textarea:hover, .box input[type= "text"]:hover, .box input[type= "number"]:hover, .box input[type= "file"]:hover{
    border-color: #2ecc71;
    width: 80%;
}
.button {
    border: 0;
    background: #ffcc33;
    display: block;
    margin: 5px auto;
    text-align: center;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    color: white;
    transition: 0.25s;
    width: 80%;
    border-radius: 40px;

}
.button:hover{
    background: #ff9933	;
    color: white;
    text-decoration: none;
}
.box p{
  color: lightslategrey;
}

/* File Upload CSS */
#backup_icon {
  font-size: 60px;
  color: lightslategrey;
}
.dropzone {
  width: 60%;
  height: 30%;
  border: 7px dashed #ffbf80;
  border-radius: 20px;
  position: absolute;
  margin: auto;
  top: 26%;
  left: 0;
  right: 0;
	text-align: center;
  background: #ffd9b3;
  opacity: 0.9;
}

.dropzone p{
  font-size: 20px;
  color: lightslategrey;
}

.upload-input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.upload_button {
	display: block;
	width: 40%;
	height: 10%;
	background: #ffcc33;
	color: #fff;
	border-radius: 50px;
  border: none;
	position: absolute;
  margin: auto;
  top: 60%;
  left: 0;
  right: 0;
	box-shadow: 0 3px 0 0 #ff9933;
	font-size: 22px;
}
.upload_button:hover {
	background: #ff9933;
	box-shadow: 0 3px 0 0 #ffcc33;
}
.image_section {
    border: 2px solid lightgrey;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    margin-bottom: 5px;
}
.image_section p {
    color: #595959;
}
.details {
    background: #f2f2f2;
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
}
.detail-head {
    display: flex;
    justify-content: center;
}
.details h5 {
    margin: 5px;
}

@media (min-width: 490px) {
  .head img{
    width: 30%;
  }
  .dropbtn{
    height: 98px;
  }
}
@media (min-width: 768px) {
  .nav-items p{
    display: block;
  }
  .nav-items p:hover{
    text-decoration: none;
  }
  .nav-items .material-icons {
      display: none;
  }
  .nav-field{
    justify-content: flex-start;
  }
  .box{
    top: 50%;
  }
  .item{
    height: 32em;
  }
  .item img{
    height: 32em;
  }
  .head img{
    width: 20%;
  }
  .dropbtn{
    padding: 20px;
  }
  .box textarea, .box input[type= "text"], .box input[type= "number"],.box input[type= "file"]{
    width: 65%;
  }
  .box textarea:hover, .box input[type= "text"]:hover, .box input[type= "number"]:hover, .box input[type= "file"]:hover{
    width: 65%;
  }
  .button{
    width: 50%;
  }
  #backup_icon {
    font-size: 100px;
  }
  .upload_button{
      font-size: 30px;
  }
  .dropzone p{
      font-size: 30px;
  }
  .location-btn {
      margin-top: 32px;
      margin-right: 0;
  }

}
@media (min-width: 992px) {
  .box{
    top: 60%;
  }

  .head img{
    width: 15%;
  }
  .dropbtn{
    height: 125px;
    padding: 30px;
  }
  .location-btn {
    margin-top: 34px;
  }
}
@media (min-width: 1200px) {
  .dropbtn{
    height: 7em;
  }
  .location-btn {
    margin-top: 38px;
  }
}
