<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Palakkad Online Store</title>
  </head>
  <body>
    <div class="head">
      <div class="logo">
          <a href="/"><img src="{{ url_for('static', filename='header_img/header2.png')}}" alt="Palakkad, പാലക്കാട് "></a>
      </div>

<!--      <div class="location">
        <div class="location-btn">
          <button onclick="getLocation()"><span class="material-icons">gps_fixed</span></button>
        </div>
        <div class="location-details">
          <p id="demo"></p>
        </div>
        <script>
        var x = document.getElementById("demo");

        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
          } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
          }
        }

        function showPosition(position) {
          x.innerHTML = position.coords.latitude.toFixed(2) +
          "," + position.coords.longitude.toFixed(2);
        }

        function showError(error) {
          switch(error.code) {
            case error.PERMISSION_DENIED:
              x.innerHTML = "User denied the request for Geolocation."
              break;
            case error.POSITION_UNAVAILABLE:
              x.innerHTML = "Location information is unavailable."
              break;
            case error.TIMEOUT:
              x.innerHTML = "The request to get user location timed out."
              break;
            case error.UNKNOWN_ERROR:
              x.innerHTML = "An unknown error occurred."
              break;
          }
        }
        </script>
      </div> --> <!--Uncomment to avail GEOPOSITION Feature-->

      <div class="dropdown">
        <button class="dropbtn">Options</button>
        <div class="dropdown-content">
          <a href="/">Home</a>
          <a href="/stores">Store On Board</a>
          <a href="/contact_us">Contact Us</a>
          <a href="/about_us">About Us</a>
        </div>
      </div>
    </div>
    {% include "includes/_message.html" %}
    {% block body %}{% endblock %}
  </body>
</html>
