<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Palakkad Online Store</title>
  </head>
  <body>
    <div id="demo" class="collapse">
      <input type="text" name="location" placeholder=" Enter your current location" id="myInput">
      <input type="submit" onclick="getInputValue()" name="submit_button" value="Change Location">
      <span class="material-icons" data-toggle="collapse" data-target="#demo">arrow_drop_up</span>
    </div>
    <div class="head">
      <div class="logo">
        <a href="/"><img src="{{ url_for('static', filename='header_img/header1.png')}}" alt="Palakkad, പാലക്കാട് "></a>
      </div>
      <div class="location" data-toggle="collapse" data-target="#demo">
        <p id="location_demo"></p>
        <script>
          function getInputValue(){
              var inputVal = document.getElementById("myInput").value;
              document.getElementById("location_demo").innerHTML = inputVal;
          }
      </script>
        <span class="material-icons">location_on</span>
      </div>
    </div>
    <div class="nav-field">
      <div class="nav-items"><a href="/"><p>Home</p><span class="material-icons">home</span></a></div>
      <div class="nav-items"><a href="/stores"><p>Store On Board</p><span class="material-icons">store</span></a></div>
      <div class="nav-items"><a href="/contact_us"><p>Contact Us</p><span class="material-icons">contact_support</span></a></div>
      <div class="nav-items"><a href="/about_us"><p>About Us</p><span class="material-icons">supervisor_account</span></a></div>
      <div class="nav-items"><a href="/search_result"><p>Search</p><span class="material-icons">search</span></a></div>
    </div>
    {% include "includes/_message.html" %}
    {% block body %}{% endblock %}
  </body>
</html>
