{% extends 'base.html' %}
{% block body %}
  <div class="container box">
    <h3>Contact Us</h3>
    <div class="details">
      <div class="detail-head">
        <span class="material-icons">local_phone</span>
        <h5>Contact Number: </h5>
      </div>
      <div class="detail-value">
        <p>123467891</p>
      </div>
    </div>
    <div class="details">
      <div class="detail-head">
        <span class="material-icons">email</span>
        <h5>Email ID: </h5>
      </div>
      <div class="detail-value">
        <p>xyz@gmail.com</p>
      </div>
    </div>
  </div>
{% endblock %}
